{# frontend.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ asset('build/frontend.css') }}">
</head>
<body>
    <div id="app"></div>
    <script src="{{ asset('build/frontend.js') }}"></script>
    {% if app.environment == 'dev' %}
        <script src="http://localhost:35729/livereload.js"></script>
    {% endif %}
</body>
</html>